.itemListCont{
    padding:10rem 3rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:5rem;
    width: 60%;
    margin: 0 auto;
}
.greeting{
    flex-grow: 1;
    width: 100%;
    text-align: center;
}