*{
    margin:0;
    padding:0;
    background-color: #232323;
    color:#FAFAFA;
}
li button:hover{
    color:#FEFEFE;
    transition: 500ms;
    transform: scale(1.3);
    margin:0 20px;
    cursor: pointer;
}

.carrito:focus{
    background-color: #A0A0A0;
}
ul button:focus{
    transform: scale(1.3);
    margin:0 20px;
    color:#FEFEFE;
}