*{
    margin:0;
    padding:0;
    background-color: #232323;
    color:#FAFAFA;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carrito:focus{
    background-color: #A0A0A0;
}
button{
    border:none;
}
button:active{
    background-color: #232323;
    color:#FAFAFA;
}